<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://download1271.mediafire.com/wdlihgpgmmdg/78gl0wbi4qq5g9c/ESign_4.5.1_iPhone+Distribution_+cbcnews.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.italogc.esign</string>
<key>bundle-version</key>
<string>4.8.2</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Esign</string>
</dict>
</dict>
</array>
</dict>
</plist>
